{% extends 'AntWebBundle::layout.html.twig' %}
{% block metakeywords %}
    <meta name="keywords" content="{{ entity.metaKey }}">
    <meta name="description" content="{{ entity.metaDesc }}">
{% endblock %}
{% block content %}

    <ol class="breadcrumb"><li>Главная</li><li><a href="{{ path('portfolio') }}">Портфолио</a></li></ol>
    <div class="col-md-12">
        <h1>{{ entity.title }}</h1>
        <div>{{ entity.text | raw('html') }}</div>
    </div>

{% endblock %}
