{% extends 'AntWebBundle::layout.html.twig' %}

{% block content %}
{% trans_default_domain "AntWebBundle" %}

    <div class="breadcrumb">
        <a href="{{ path('news') }}">
            {{ 'news.back'|trans }}
        </a>
    </div>
    <h1>{{ 'news.list'|trans }}</h1>


    <ul class="media-list">
        {% for entity in pagination %}

            <li class="media">
                <a href="{{ path('ant_news_show', { 'slug': entity.slug, 'id': entity.id }) }}" class="pull-left">
                    <img src="{% path entity.getMedia, 'small' %}" class="img-rounded img-responsive media-object" /></a>

                <div class="media-body">
                    <div class="text-muted">
                        {% if entity.created %}
                            {{ entity.created|date('d.m.y H:i') }}
                        {% endif %}
                    </div>
                    <h2 class="media-heading">
                        {{ entity.title }}
                    </h2>
                    <div class="lead">
                        {{ entity.description }}
                    </div>

                    <div>
                        <a href="{{ path('ant_news_show', { 'slug': entity.slug, 'id': entity.id }) }}"> {{ 'news.read'|trans }}</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>


    {% endblock %}
