{% extends 'AntWebBundle::layout.html.twig' %}
{% block content %}


    <div class="page-top">
        <div class="container">
            <h1 class="page-top-header">Как это выглядит?</h1>
            <ol class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Галерея</li>
            </ol>
        </div>
    </div>
    <div class="container" id="main">
        <div class="row project-single">
            <div class="col-md-8">
                <div class="gallery">
                    {% for galleryHasMedia in gallery.GalleryHasMedias %}
                        {% if loop.first %}
                            <div class="row margin-bottom-large">
                                <div class="col-sm-12">
                                    <a href="{% path galleryHasMedia.media, 'big' %}" title="{{ gallery.name }}">
                                        <img src="{% path galleryHasMedia.media, 'gallery' %}" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                        {% elseif loop.last == false %}
                            <div class="col-sm-4">
                                <a href="{% path galleryHasMedia.media, 'big' %}" title="{{ gallery.name }}">
                                    <img src="{% path galleryHasMedia.media, 'small' %}" alt="" />
                                </a>
                            </div>
                        {% else %}
                            <div class="col-sm-4">
                                <a href="{% path galleryHasMedia.media, 'big' %}" title="{{ gallery.name }}">
                                    <img src="{% path galleryHasMedia.media, 'small' %}" alt="" />
                                </a>

                            </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div><!-- .col-xx-x -->

            <div class="col-md-4">
                <h5 class="page-header">{{ gallery.name }}</h5>
                <p>
                    {{ gallery.description }}
                </p>

                <div class="text-center">
                    <a href="{{ gallery.link }}" class="btn btn-primary" target="blank">Перейти на сайт</a>
                </div>
            </div>
        </div><!-- .row -->
    </div>

{% endblock %}