<div class="js-slide mt-1">
    <article class="card border-0 shadow-sm transition-3d-hover mb-3">
            <a class="js-fancybox u-media-viewer" href="{{ path('house_page', {'url':house.url}) }}">
                <div class="card-body bg-primary rounded-top p-5" style="background-image:url({% path house.getMainPhoto, 'house_thumb_small' %}); height: 150px">
                </div>
                {#<img class="card-img-top w-100" src="{% path house.mainPhoto, 'house_thumb_big' %}" alt="{{ house.title }}">#}
                <div class="position-absolute bottom-0 left-0 right-0 pb-2 px-3">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-10">
                            <h2 class="h5 text-white mb-0">{{ (house.price)| number_format(0,',',' ') }} р.</h2>
                        </div>
                    </div>
                </div>
            </a>
        <div class="card-body p-4">
            <div class="mb-3">
                <h2 class="h6 mb-0">{{ house.title }}</h2>
            </div>
            <div class="mb-3">
                <ul class="list-inline  font-size-1">
                    <li class="list-inline-item mr-4"><span class="fas fa-ruler-combined text-muted mr-1"></span>{{ house.size }}
                    </li>
                    <li class="list-inline-item mr-4"><span class="fas fa-warehouse text-muted mr-1"></span>
                        {{ house.floorCount }}
                    </li>
                    <li class="list-inline-item mr-4"><span class="fas fa-bed text-muted mr-1"></span>
                        {{ house.bedroomCount }}
                    </li>
                    <li class="list-inline-item mr-4"><span class="fas fa-bath text-muted mr-1"></span>
                        {{ house.bathroomCount }}
                    </li>
                </ul>
            </div>
            {#<div class="mb-3">#}
                {#<h2 class="h6 mb-0">{{ (house.price)| number_format(0,',',' ') }} р.</h2>#}
            {#</div>#}
            <a class="btn btn-sm btn-block btn-primary" href="{{ path('house_page', {'url':house.url}) }}">Подробнее</a>
        </div>
    </article>
</div>


