<ul class="navbar-nav u-header__navbar-nav">
    {% for menuItem in item %}
        {% if menuItem.hasChildren and menuItem.displayChildren %}
            <li class="nav-item hs-has-mega-menu u-header__nav-item"
                data-event="hover"
                data-animation-in="slideInUp"
                data-animation-out="fadeOut"
                data-position="left">
                <a id="homeMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="{{ menuItem.uri}}" aria-haspopup="true" aria-expanded="false">{{ menuItem.label |trans(menuItem.getExtra('translation_params', {}), menuItem.getExtra('translation_domain', 'messages'))  }}</a>

                <!-- Home - Mega Menu -->
                <div class="hs-mega-menu w-100 u-header__sub-menu" aria-labelledby="homeMegaMenu">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <!-- Banner Image -->
                            <div class="u-header__banner" style="background-image: url(../../assets/img/750x750/img1.jpg);">
                                <div class="u-header__banner-content">
                                    <div class="mb-4">
                                        <span class="u-header__banner-title">Branding Works</span>
                                        <p class="u-header__banner-text">Experience a level of our quality in both design &amp; customization works.</p>
                                    </div>
                                    <a class="btn btn-primary btn-sm transition-3d-hover" href="#">Learn More <span class="fas fa-angle-right ml-2"></span></a>
                                </div>
                            </div>
                            <!-- End Banner Image -->
                        </div>

                        <div class="col-lg-6">
                            <div class="row u-header__mega-menu-wrapper">
                                    <ul class="u-header__sub-menu-nav-group mb-3">
                                    {% for child in menuItem.children %}
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ child.uri }}">{{ child.label }}</a></li>
                                    {% endfor %}
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% else %}
            <li class="nav-item u-header__nav-item">
                <a class="u-header__nav-link" href="{{ menuItem.uri}}">
                    {{ menuItem.label |trans(menuItem.getExtra('translation_params', {}), menuItem.getExtra('translation_domain', 'messages')) }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
    <!-- End Button -->
</ul>
