{% extends 'front_layout.html.twig' %}
{% block body %}
    <!-- Hero Section -->
    <div id="SVGwave1BottomSMShape" class="svg-preloader position-relative bg-light overflow-hidden">
        <div class="container space-3">
            <div class="w-md-80 w-lg-60 text-center mx-auto">
                <h1 class="display-4 font-size-md-down-5 text-primary">Узнайте, <span class="font-weight-semi-bold">как мы строим</span></h1>
                <p class="lead">Современные материалы и проверенные технологии позволяют экономить время, сохраняя высокое качество.</p>
            </div>
        </div>

        <!-- SVG Background -->
        <figure class="position-absolute right-0 bottom-0 left-0">
            <img class="js-svg-injector" src="../../assets/svg/components/wave-1-bottom-sm.svg" alt="Image Description"
                 data-parent="#SVGwave1BottomSMShape">
        </figure>
        <!-- End SVG Background Section -->
    </div>
    <!-- End Hero Section -->
    {%  include ('ant_web_bundle/technology/_pie.html.twig') %}
    {#{{ render(url('technology_pie')) }}#}
    {{ render(url('technology_ad_two')) }}
    {{ render(url('technology_ad_three')) }}
    {{ render(url('technology_ad_five')) }}
    {{ render(url('technology_ad_six')) }}
    <div class="m-8 text-center">
        <h2>Почему мы?</h2>
        <p>Преимущества работы с HBDome</p>
    </div>
    {%  include ('ant_web_bundle/technology/_benefits.html.twig') %}
    <div class="m-8 text-center">
        <h2>Команда</h2>
        <p>Работаем для Вас</p>
    </div>
<div class="m-8">
    {%  include ('ant_web_bundle/technology/_team.html.twig') %}
</div>



{% endblock %}

{% block javascripts_vendor %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/appear.js') }}"></script>
{% endblock %}
    {% block javascripts_plugins %}
        {{ parent() }}
        <script src="{{ asset('assets/vendor/circles/circles.min.js') }}"></script>
    {% endblock %}

    {% block javascripts_front %}
        {{ parent() }}

        <script src="{{ asset('assets/js/components/hs.chart-pie.js') }}"></script>
    {% endblock %}


{#{% block javascripts_init %}#}
    {#{{ parent() }}#}

    {#<script>#}
        {#$(document).on('ready', function () {#}
            {#// initialization of chart pies#}
            {#var items = $.HSCore.components.HSChartPie.init('.js-pie');#}
        {#});#}
    {#</script>#}
{#{% endblock %}#}