{% extends 'AntWebBundle::layout.html.twig' %}

{% block metakeywords %}
    <meta name="keywords" content="{{ portfolio.metaKey }}">
    <meta name="description" content="{{ portfolio.metaDesc }}">
{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ant/css/slimbox.css') }}" type="text/css" media="all" filter="cssrewrite" />
{% endblock %}
{% block content %}
    <ol class="breadcrumb"><li>Главная</li><li><a href="{{ path('portfolio') }}">Портфолио</a></li></ol>

    <h1>{{ portfolio.title }}</h1>
    <div id="gallery">
        <div class="lead">{{ portfolio.description | raw ('html') }}</div>
        <div class="row">
            {% for entity in portfolioItem %}
                <div class="col-sm-4 col-md-3">
                    {% if entity.getWebPath %}
                        <a href="{{ entity.getWebPath | imagine_filter('portfolio_xl') }}">
                            <img src="{{ entity.getWebPath | imagine_filter('my_thumb_out') }}" class="img-rounded">
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/ant/js/slimbox.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/ant/js/autoload.js') }}" type="text/javascript"></script>

{% endblock %}